body{
    font-family: "Montserrat";
    font-weight: 100;
}

#title {
    background-color: #f8c291;
    color: rgba(22, 18, 18, 0.973);
}
#ro{
    position: absolute;
    right: 50px;
}
h1
{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}
h2 {
    font-family: "Montserrat";
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 7% 8% ;   /*top lef-right bottom*/
}


/* Navigation-Bar */

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand
{
    font-family: "Monoton";
    font-size: 2em;
}
.nav-item
{
    padding: 0 8px;
}
.navbar-toggler{
        position: relative;
        top: 20%;
        bottom: 20%;
        left: 85%;
}
.nav-link
{
    font-size: 1.2rem;
    font-family: "Montserrat";

}
.download-button{
    margin: 5% 3% 5% 0;
}
.user-in{
   margin-left: 1rem;
}

/*  title */ 
.casset-img{
    width: 100%;
    margin-left: 3%;
    /*transform: perspective(800px);*/
}
.fas fa-cog  fa-3x{
    position: absolute;
    right: 50%;
    bottom: 74%;
}


.scroll{
    size: 10%;
    height: 5%;
    width: 5%;
    border-radius: 10%;
}

  /*Features-   */

#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #F8C291;
    margin-bottom: 1rem;
}
.icon:hover{
    color: rgb(235, 159, 88);
}


/* Description-section */
.Description{
     background-color: #f8c291;
     text-align: center;
     padding: 4% 15%;
 }
 .des-text{
     color: #444444;
 }
.icon-des{
    color: rgb(58, 57, 57);
    margin-bottom: 1rem;
}
.icon-des:hover{
    color: #fff;
}